html {
  font-size: clamp(1rem, calc(0.67rem + 1vw), 4rem);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5.5vw;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 4.5vw;
}

h5 {
  font-size: 4vw;
}

h6 {
  font-size: 3.5vw;
}

p {
  font-size: 3vw;
}

header a {
  font-size: 3vw;
}

header {
  text-align: center;
  padding: 5vw;
}

header img {
  width: 15vw;
}

header nav ul li {
  margin: 3vw;
}

header nav ul li a.font-yellow {
  color: #fbbc05;
}

header nav ul li a.button-yellow {
  background-color: #fbbc05;
  color: white;
  padding: 1.5vw 3vw;
  border: 5px;
  display: inline-block;
  border-radius: 2vw;
}

section.banner {
  background-image: url(../images/background-banner.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 3vw 5vw 3vw 5vw;
  margin: 5vw 0;
}

section.banner p {
  margin: 3vw 0;
}

section.banner p.buttons {
  color: rgb(104, 104, 104);
  gap: 2vw;
  display: flex;
}

section.banner p.buttons a {
  background-color: #252b42;
  display: inline-block;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  color: #ffffff;
  align-items: center;
  border-radius: 2vw;
}

section.banner p.buttons img {
  height: 4vw;
}

section.banner div.image img {
  display: none;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.5vw;
  }

  h5 {
    font-size: 3vw;
  }

  h6 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2vw;
  }

  header a {
    font-size: 2vw;
  }
  header {
    padding: 2vw;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    align-items: center;
    gap: 2.5vw;
  }

  header nav ul li {
  margin: 0;
}

  section.banner {
    display: flex;
    background-size: 100% auto;
    align-items: center;
    padding: 3vw 10vw 0 10vw;
  }

  section.banner div.image img {
    display: block;
    width: 50vw;
  }
}
