/* === IMPORTAÇÃO DE FONTES */

@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/*
Fontes Disponíveis:
// Sugiro usar esta 
font-family: "Urbanist", sans-serif; 
font-family: "Fredoka", sans-serif;
font-family: "Epilogue", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Oswald", sans-serif;
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html {
  font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
  font-family: "Roboto", sans-serif;

  background-color: #e9eaf8;
  color: #21262c;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3.25vw;
}

h3 {
  font-size: 2.75vw;
}

h4 {
  font-size: 2.25vw;
}

p {
  font-size: 1.75vw;
  font-weight: 280;
}

header {
  text-align: center;
  align-items: center;
  margin: 2.5vw;
}

header img {
  width: 10vw;
}

header ul li {
  padding: 1.25vw;
}

header ul li a {
  font-size: 3.25vw;
}

header ul li a.contactante {
  color: white;
  background-color: #747ed1;
  display: inline-block;
  padding: 1.25vw 3.5vw;
  border-radius: 50vw;
}

section.notch-mojang {
  padding: 10vw 20vw;
  background-color: #51225e;
  color: white;
  text-align: center;
  margin: 2.5vw;
  border-radius: 2.5vw;
}

section.notch-mojang h1 {
  padding-bottom: 2vw;
}

section.designer-de-teias {
  padding: 10vw 10vw;
  background-color: white;
  text-align: center;
  margin: 2.5vw;
  border-radius: 2.5vw;
}

section.designer-de-teias img {
  width: 50vw;
  padding: 2.5vw;
}

section.designer-de-teias p {
  color: rgb(85, 100, 115);
  padding: 2.5vw 0vw;
}

section.designer-de-teias p.detalhadinho {
  color: #747ed1;
  background-color: #e9eaf8;
  display: inline-block;
  padding: 1.25vw 3.5vw;
  border-radius: 50vw;
}

section.plagio {
  padding: 10vw 10vw;
  background-color: white;
  text-align: center;
  margin: 2.5vw;
  border-radius: 2.5vw;
}

section.plagio img {
  width: 70vw;
  padding: 3.25vw;
}

section.plagio h2 span {
  color: #747ed1;
}

section.plagio ul {
  text-align: center;
}

section.plagio ul li {
  padding: 4.25vw;
}

section.plagio ul li img {
  width: 7.5vw;
  padding: 0;
}

section.plagio p {
  color: rgb(85, 100, 115);
}

section.plagio h4 {
  padding: 1.5vw;
}

footer {
  padding: 5vw 20vw;
  background-color: #21262c;
  color: white;
  text-align: center;
  margin: 2.5vw;
  border-radius: 2.5vw;
}

footer img {
  height: 2vw;
}

/* MEDIA QUERY - DESKTOP */
@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    margin: 2.5vw;
  }
  header ul {
    display: flex;
    gap: 1.25vw;
  }

  header ul li a {
    font-size: 2vw;
  }
  section.designer-de-teias {
    display: flex;
    text-align: left;
  }

  section.designer-de-teias img {
    width: 40vw;
    height: 25vw;
    padding: 2.5vw;
  }

  section.plagio ul {
    display: flex;
  }
  section.plagio ul li img {
    width: 3.25vw;
  }
}
